@namespace UI_KIT.Components.Layout

<section class="bg-gray-50 dark:bg-gray-950">
    <div>
        <div class="border border-r-0 border-l-0 border-gray-200 dark:border-gray-600">
            <SfAppBar CssClass="shadow-none">
                <div class="px-4 py-5 flex items-center justify-between">
                    <div class="flex items-center">
                        <img class="mr-3 h-7" src="assets/images/common/brand-logos/svg/vector.svg" alt="company logo" />
                        <span class="text-lg font-semibold text-gray-900 dark:text-white">Company Name</span>
                    </div>
                    <div class="e-appbar-spacer"></div>
                    <div class="hidden lg:block flex items-center pr-4">
                        <div class="e-input-group">
                            <input class="e-input" type="text" placeholder="Search" aria-label="search" role="textbox" />
                            <span class="e-input-group-icon e-icons e-search"></span>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <SfButton CssClass="mr-2.5 hidden sm:block e-primary" IconCss="e-icons e-plus" IconPosition="IconPosition.Left" Content="New Widget" Type="button" aria-label="add new widget" role="button"></SfButton>
                        <SfButton CssClass="hidden sm:block lg:hidden mr-2.5 e-flat" IconCss="e-icons e-search !text-base" Type="button" aria-label="search" role="button"></SfButton>
                        <SfButton CssClass="mr-2.5 e-flat" IconCss="sf-icon-notification-bell-02 leading-3 !text-base" Type="button" aria-label="notification" role="button"></SfButton>
                        <SfButton CssClass="hidden sm:block mr-2.5 e-flat" IconCss="e-icons e-grid-view !text-base" Type="button" aria-label="grid view" role="button"></SfButton>
                        <span class="e-avatar e-avatar-small e-avatar-circle">
                            <img src="assets/images/common/avatar/avatar-3.jpg" alt="profile picture" />
                        </span>
                    </div>
                </div>
            </SfAppBar>
        </div>
    </div>
</section>